.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 400px;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
    "input table"
    "footer footer";
}

header {
  padding: 12px 24px;
  background-color: #3F51B5;
}

header > h3 {
  margin: 0;
  color: white;
  word-break: break-word;
}

footer {
  grid-area: footer;
  z-index: 2;
  background-color: black;
  color: white;
  padding: 4px 16px;
  text-align: center;
}

footer > p {
  margin: 0;
  font-size: 0.75rem;
}

button,
.button {
  color: white;
  text-align: center;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

button > p,
.button > p {
  margin: 0 0 0 16px;
}

.color-indicator {
  display: flex;
  flex-flow: row nowrap;
  background-color: #363636;
  border-radius: 16px;
  padding: 8px 16px;
}

.color-indicator > p {
  color: white;
  margin: 0 0 0 12px;
}

.scroll-to-bot {
  position: fixed;
  bottom: 32px;
  right: 448px;
  padding: 4px;
  filter: drop-shadow(0 0 2px black);
}

.scroll-to-bot > div {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555555;
  }
}

@media screen and (max-width: 1023px) {
  .app {
    height: revert;
    display: block;
    padding-bottom: 32px;
  }

  .input-container {
    height: auto;
  }

  .timetable {
    height: auto;
  }

  footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }

  .scroll-to-bot {
    display: none;
    right: 48px;
  }
}