.modal {
  position: fixed;
  z-index: 5;
  overflow-y: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  z-index: 6;
  max-width: 768px;
  width: 90%;
  margin: 32px auto 64px auto;
  padding: 1rem 2rem;
  border-radius: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.copy-text {
  width: 100%;
  resize: none;
  box-sizing: border-box;
}
