.timetable {
  height: 100%;
  display: grid;
  grid-template-columns: min-content;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  background-color: gray;
}

.timetable p { margin: 0; }

.timetable .heading {
  text-align: center;
  font-weight: bold;
}

.timetable > * {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(20, 1fr);
}

.course-block {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0;
  text-align: center;
  opacity: 0.7;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
  align-items: center;
}

.course-block > * {
  margin: 0;
  grid-column: 1 / -1;
}

.course-block > .course-code {
  text-align: center;
  grid-row: 1 / -1;
}

.course-block > .time {
  font-size: 0.8em;
}

.course-block > .time.start { grid-row: 1 / 2; justify-self: flex-start; }
.course-block > .time.end   { grid-row: 3 / 4; justify-self: flex-end; }

@media screen and (max-aspect-ratio: 1/1) {
  .timetable > * {
    grid-template-rows: min-content repeat(20, 64px);
  }
}