.timetable {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: gray;
}

.timetable > * {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content repeat(20, 1fr);
}

.timetable > * > .day {
  text-align: center;
  font-weight: bold;
}

.course-block {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0;
  text-align: center;
  opacity: 0.8;
  grid-column: 1 / -1;
}